
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1f2937;
  font-family: 'Roboto', sans-serif;
  color: #E5E7EB;
  
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar .container{
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 8px 30px;
}

.navbar .logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
}

.navbar a {
  color:#E5E7EB;
  text-decoration: none;
}

