
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #1f2937;
  font-family: 'Roboto', sans-serif;
  color: #E5E7EB;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 16px 30px;
}

.navbar .logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
}

.navbar a {
  color:#E5E7EB;
  text-decoration: none;
}


.header h1 {
  font-size: 48px;
  font-weight: extra-bold;  
  color: #F9FAF8;
}

.header p {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 16px;

}

.header img {
  background-color: #8a8b8c;
  width: 500px;
  height: 250px;
  border: 1px solid white;
}

.header .container {
  display: flex;
  align-items: center;
  gap: 4em;
  height: 480px;
}

.btn-signup {
  color: #fff;
  background-color: #3882F6;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px 36px;
  border-style: none;
}




